<script src="/admin/static/js/core.js?v=11"></script>
<script src="/admin/static/js/nav.js?v=9"></script>
  <script src="/admin/static/js/forms.js?v=6"></script>
<script src="/admin/static/js/filemanager.js?v=7"></script>
<script src="/admin/static/js/projects.js?v=9"></script>
<script src="/admin/static/js/servers.js?v=15"></script>
<script src="/admin/static/js/charts/charts.js?v=1"></script>
<script src="/admin/static/js/charts/path.js?v=1"></script>
<script src="/admin/static/js/charts/scale.js?v=1"></script>
<script src="/admin/static/js/charts/plot-area.js?v=1"></script>
<script src="/admin/static/js/charts/grid.js?v=1"></script>
<script src="/admin/static/js/charts/time-axis.js?v=1"></script>
<script src="/admin/static/js/charts/area.js?v=1"></script>
<script src="/admin/static/js/charts/line.js?v=1"></script>
<script src="/admin/static/js/charts/value-chip.js?v=1"></script>
<script src="/admin/static/js/charts/crosshair.js?v=1"></script>
<script src="/admin/static/js/charts/tooltip.js?v=1"></script>
<script src="/admin/static/js/charts/chart.js?v=1"></script>
<script src="/admin/static/js/overview.js?v=11"></script>
<script src="/admin/static/js/players.js?v=7"></script>
<script src="/admin/static/js/config.js?v=5"></script>
<script src="/admin/static/js/java.js?v=9"></script>
<script src="/admin/static/js/update.js?v=1"></script>
<script src="/admin/static/js/plugins.js?v=3"></script>
<script src="/admin/static/js/init.js?v=4"></script>
<!--UROBOROS_SCRIPTS-->
</body>
</html>
