<script src="/admin/static/js/core.js?v=8"></script>
<script src="/admin/static/js/nav.js?v=6"></script>
<script src="/admin/static/js/forms.js?v=4"></script>
<script src="/admin/static/js/filemanager.js?v=7"></script>
<script src="/admin/static/js/projects.js?v=8"></script>
<script src="/admin/static/js/servers.js?v=12"></script>
<script src="/admin/static/js/overview.js?v=8"></script>
<script src="/admin/static/js/players.js?v=6"></script>
<script src="/admin/static/js/config.js?v=5"></script>
<script src="/admin/static/js/java.js?v=4"></script>
<script src="/admin/static/js/init.js?v=4"></script>
</body>
</html>
